################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation
/BudgetAPI/bin/Debug/net9.0
/BudgetAPI/obj
/DailyCostTracker/bin/Debug/net9.0
/DailyCostTracker/obj
/DailyCostTracker/DatabaseManager/obj
/DailyCostTracker/DatabaseManager/bin/Debug/net9.0
/DailyCostTracker/DatabaseManager/bin/Release/net9.0
/MyPersonalBudgetAPI/.vs
/MyPersonalBudgetAPI/MyPersonalBudgetAPI/bin/Debug/net9.0
/MyPersonalBudgetAPI/MyPersonalBudgetAPI/obj
/SharedDataModels/bin/Release/net9.0
/SharedDataModels/bin/Debug/net9.0
/SharedDataModels/obj
/.vs/DailyCostTracker
/TestProject/bin/Debug/net9.0
/TestProject/obj
/DailyCostTracker/bin
/TestProject/bin/Release/net9.0
/BudgetAPI/bin/Release/net9.0
/DatabaseManager/bin/Debug/net9.0/DatabaseManager.dll
/DatabaseManager/bin/Debug/net9.0/DatabaseManager.pdb
/DatabaseManager/bin/Debug/net9.0/SharedDataModels.dll
/DatabaseManager/bin/Debug/net9.0/SharedDataModels.pdb
/DatabaseManager/obj/Debug/net9.0/ref/DatabaseManager.dll
/DatabaseManager/obj/Debug/net9.0/refint/DatabaseManager.dll
/DatabaseManager/obj/Debug/net9.0/DatabaseManager.AssemblyInfo.cs
/DatabaseManager/obj/Debug/net9.0/DatabaseManager.AssemblyInfoInputs.cache
/DatabaseManager/obj/Debug/net9.0/DatabaseManager.csproj.AssemblyReference.cache
/DatabaseManager/obj/Debug/net9.0/DatabaseManager.dll
/DatabaseManager/obj/Debug/net9.0/DatabaseManager.pdb
/DatabaseManager/obj/Debug/net9.0/DatabaseManager.sourcelink.json
/DatabaseManager/bin/Release/net9.0/DatabaseManager.dll
/DatabaseManager/bin/Release/net9.0/DatabaseManager.pdb
/DatabaseManager/bin/Release/net9.0/SharedDataModels.dll
/DatabaseManager/bin/Release/net9.0/SharedDataModels.pdb
/DatabaseManager/obj/Release/net9.0/ref/DatabaseManager.dll
/DatabaseManager/obj/Release/net9.0/refint/DatabaseManager.dll
/DatabaseManager/obj/Release/net9.0/DatabaseManager.AssemblyInfo.cs
/DatabaseManager/obj/Release/net9.0/DatabaseManager.AssemblyInfoInputs.cache
/DatabaseManager/obj/Release/net9.0/DatabaseManager.csproj.AssemblyReference.cache
/DatabaseManager/obj/Release/net9.0/DatabaseManager.dll
/DatabaseManager/obj/Release/net9.0/DatabaseManager.pdb
/DatabaseManager/obj/Release/net9.0/DatabaseManager.sourcelink.json
